
  .Arrow {
    margin: auto;
    fill: deepskyblue;
    border-radius: 100%;
    cursor: pointer;
    z-index: 1;
    position: fixed;
    bottom: 20%;
    right: 2.8%;
  }


  @media screen and (max-width: 500px) {
    .Arrow{
      bottom: 15%;
      right: 6%;
      max-width: 50px;
    }
  }

