
  .Arrow {
    margin: auto;
    fill: deepskyblue;
    border-radius: 3px;
    cursor: pointer;
    z-index: 1;
    position: fixed;
    bottom: 20%;
    right: 2.8%;
    background: rgba(0,0,0, 0.03);
    box-shadow: white 0 0 1px 0;
  }


  @media screen and (max-width: 500px) {
    .Arrow{
      bottom: 15%;
      right: 6%;
    }
  }

