@import url('https://fonts.googleapis.com/css2?family=Klee+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel&display=swap');

.About {
  padding: 0 10px;
  text-align: center;
  h1{
    font-family: 'Cinzel', serif;
    margin-top: 60px;
    margin-bottom: 60px;
  }

  .Carousel {
    box-shadow: silver 0 0 10px 0;
    margin: 90px auto 0 auto;
    max-width: 1200px;


    .inactive{
      margin: 10px 0.4vh 10px 0.4vh;
      cursor: pointer;
      border-radius: 1px;
      width: 3vh;
      height: 4px;
      background: rgba(192, 192, 192, 0.5);
    }

    .active{
      margin: 10px 0.4vh 10px 0.4vh;
      cursor: pointer;
      border-radius: 1px;
      width: 3vh;
      height: 4px;
      background: linear-gradient(135deg, cyan, deepskyblue) ;
    }

    .item {
      display: flex;
      flex-direction: column;
      grid-gap: 20px;
      text-align: center;
      max-width: 100%;
      width: 100%;
      height: 100%;

      h3{
        font-family: 'Cinzel', serif;
        margin-top: 50px;
      }

      hr {
        height: 0.08px;
        box-shadow: deepskyblue 0 0 2px 0;
        background: deepskyblue;
        max-width: 250px;
        width: 100%;
        margin: 1vh auto 2vh auto;
        border: none;
      }

      p {
        margin-bottom: 50px;
        font-family: 'Klee One', cursive;
        padding: 0 30px;
        font-size: 18px;
        color: gray;
      }

      div {
        img {
          max-width: 60px;
          margin: 0 10px 50px 10px;
        }
      }
    }
  }

}

@media screen and (max-width: 768px) {
 .About{
   .Carousel{
     .item{
       grid-gap: 5px;
       h3{
         color: black;
         margin-top: 20px;
         margin-bottom: 0;
         font-size: 16px;
       }
       hr{
         margin: 5px auto 5px auto;
       }
       p{
         margin-bottom: 30px;
         font-size: 15px;
       }
      div{
        img{
          margin-top: 50px;
        }
      }
     }
   }
 }
}

@media screen and (max-width: 500px) {
  .About{
    .Carousel{
      .item{
        hr{
          max-width: 130px;
        }
        p{
          padding: 5px;
          font-size: 12px;
        }
      }
    }
  }
}

