.MobileNavbar {
  width: 500px;
  display: none;
  .Burger {
    padding: 0;
    max-width: 35px;
    cursor: pointer;
    position: absolute;
    right: 5%;
  }
}


@media screen and (max-width: 700px) {
  .MobileNavbar {
    display: flex;
    align-items: center;
    .Container{
      padding: 0;
      transition: 0.3s;
      margin-right: -100%;
    }

    div {
      width: 100%;
      position: absolute;
      top: 100%;
      right: 0;
      padding: 20px 0 20px 0;
      background: rgba(0, 0, 0);
      background: linear-gradient(135deg, cyan, deepskyblue) ;
      display: flex;
      flex-direction: column;
      align-items: center;
      row-gap: 10px;

      a {
        text-transform: uppercase;
        color: white !important;
        font-size: 16px;
      }
    }
  }

}